@if(isOpen()){
<app-backdrop (close)="closeMenu()" />
}
<div class="fab-ctn" [class.expanded]="isOpen()">
  <button class="fab-btn" [class.expanded]="isOpen()" (click)="toggleMenu()">
    <img src="icons/up.png" alt="up.png" width="20px" height="20px">
  </button>

  @if(isOpen()){
  <div class="fab-menu">
    @for (option of options(); track option.label) {
    <button (click)="runAction(option)">
          <img [src]="option.icon" alt="{{option.label}}" width="20px" height="20px">
    </button>
    }
  </div>
  }
</div>
