.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 4.5rem;
  background-color: #313342;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.side-bar.visible {
  transform: translateX(0);
}

ul {
  list-style: none;
}

.list-item {
  margin: 1rem 0.3rem;
  height: 3rem;
  width: 3rem;
  border-radius: 30px;
  cursor: pointer;
  align-content: center;
  background-color: white;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.user {
  background-color: #6a88c9;
}

.home {
  background-color: #d37cb6;
}

.notes {
  background-color: #ffe9ad;
}

.tasks {
  background-color: #7cd3c2;
}

.weather {
  background-color: #9d6ac9;
}

.tracker {
  background-color: #5ea36a;
}

.logout {
  background-color: #8c9e6e;
}
