<aside class="side-bar" [class.visible]="isOpen()">
  <ul>
    <li class="list-item user">
      <img src="icons/user-trust.png" alt="user" with="18px" height="18px">
    </li>
    <li class="list-item home">
      <img src="icons/house.png" alt="home" with="18px" height="18px">
    </li>
    <li class="list-item notes" [routerLink]="['/notes']" (click)="onNavigate()">
      <img src="icons/blog-pencil.png" alt="notes" with="18px" height="18px">
    </li>
    <li class="list-item tasks" [routerLink]="['/tasks']" (click)="onNavigate()">
      <img src="icons/ballot-check.png" alt="tasks" with="18px" height="18px">
    </li>
    <li class="list-item tracker" [routerLink]="['/trackers']" (click)="onNavigate()">
      <img src="icons/duration-alt.png" alt="tracker" with="18px" height="18px">
    </li>
    <li class="list-item weather">
      <img src="icons/temperature-high.png" alt="weather" with="18px" height="18px">
    </li>
    <li class="list-item logout" [routerLink]="['/auth/login']" (click)="onLogout()">
      <img src="icons/user-logout.png" alt="logout" with="18px" height="18px">
    </li>
  </ul>
</aside>
