.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 4.5rem;
  height: 100vh;
  background-color: #222;
  color: wheat;
  flex-direction: column;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side-bar.visible {
  transform: translateX(0);
}

ul {
  list-style: none;
}

.list-item {
  margin: 2rem 0.3rem;
  border: 1px solid wheat;
  height: 4rem;
  border-radius: 10px;
  align-content: center;
  cursor: pointer;
}
