.task-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: whitesmoke;
}

.task-form h3 {
  margin-bottom: 1rem;
}

.task-form label {
  margin-top: 1rem;
}

.content {
  resize: none;
  border: none;
  color: black;
  font-size: 1rem;
  background-color: transparent;
}

.notes-ctn {
  display: flex;
  flex-direction: column;
}

.notes-ctn textarea {
  resize: none;
  font-size: 1rem;
  padding: 0.2rem;
}

.edit-form {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: -10%;
  transform: translate(-50%, 50%);
  padding: 1.2rem;
  width: 70vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #313342;
  color: wheat;
  z-index: 150;
}

.edit-form label {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.form-input {
  line-height: 1.5rem;
  font-size: 1rem;
}

.form-textarea {
  font-size: 1rem;
  resize: none;
}

.options-ctn {
  border: 1px solid wheat;
  border-radius: 15px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.task-options-ctn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.options-item-ctn {
  display: flex;
}

.options-item-ctn p {
  margin-right: 1rem;
}

.options-interval {
  width: 2rem;
  appearance: unset;
  -moz-appearance: textfield;
  text-align: center;
}

.date-ctn {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.form-btns {
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.form-btns button {
  width: 4.5rem;
  height: 2.5rem;
  color: wheat;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#cancel-btn {
  background-color: #af2d2d;
}

#submit-btn {
  background-color: #2ba865;
}
