<app-fab-menu [options]="menuOptions" />

@if(isFormOpen()){
  <app-backdrop (close)="onCloseForm()" />
}

<div class="task">
  <h3>{{ task()?.title }}</h3>
  <p>{{ task()?.content}}</p>
  <p>due date: {{ task()?.dueDate | date:'fullDate' }}</p>
  @if(task()?.isRepeat){
  @if(task()?.interval === 1){
  interval: {{ task()?.interval}} day
  } @else {
  interval: {{ task()?.interval}} days
  }
  }
  <div>
    <label>notes</label>
    <textarea></textarea>
  </div>
  <div class="form-btns">
    <button id="cancel-btn" type="button">abort</button>
    <button id="submit-btn" type="button">complete</button>
  </div>
</div>

<form class="edit-form" [formGroup]="editForm" (ngSubmit)="onEditTask()" #form>
  <h3>task adjustment</h3>
  <label>task title</label>
  <input class="form-input" type="text" formControlName="title">
  <label>task content</label>
  <textarea class="form-textarea" rows="12" formControlName="content"></textarea>
  <div class="options-ctn">
    <label>task options</label>
    <div class="task-options-ctn">
      <div class="options-item-ctn">
        <p>repeat task</p>
        <input type="checkbox" formControlName="isRepeat">
      </div>
      <div class="options-item-ctn">
        <p>interval days</p>
       <input class="options-interval" type="number" [min]="0" formControlName="interval">
     </div>
    </div>
    <div class="date-ctn">
      <p>task date:</p>
      <input type="date" formControlName="dueDate">
    </div>
  </div>
  <div class="form-btns">
    <button id="cancel-btn" type="button" (click)="onCloseForm()">cancel</button>
    <button id="submit-btn" type="submit">save</button>
  </div>
</form>
