.space {
  height: 0.5rem;
  width: 100vw;
}

.note-item {
  border: 2px solid #9d6ac9;
  border-radius: 15px;
  height: 5rem;
  align-content: center;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
}

.create-form {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  padding: 1.2rem;
  width: 70vw;
  border-radius: 10px;
  z-index: 150;
  background-color: #313342;
  color: wheat;
}
