@if(isFormOpen()){
<app-backdrop (close)="onCloseForm()" />
}

<div class="space"></div>

@for (city of cities(); track city.id){
<div class="note-item">
  {{ city.name }}
</div>
}

<app-fab-menu [options]="menuOptions" />

<form class="create-form" [formGroup]="createForm" (ngSubmit)="onAddCity()" #form>
  <label class="form-label">city</label>
  <input class="form-input" type="text" formControlName="city">
  <div class="form-btns">
    <button id="cancel-btn" type="button" (click)="onCloseForm()">cancel</button>
    <button id="submit-btn" type="submit">create</button>
  </div>
</form>
