<app-fab-menu [options]="menuOptions" />

<div class="note">
  <h3>{{ note()?.title }}</h3>
  <span> {{ note()?.createdAt | date:'fullDate'}} </span>
  <p>{{ note()?.content}}</p>
</div>

<form class="edit-form" [formGroup]="editForm" (ngSubmit)="onEditNote()" #form>
  <h3>note adjustment</h3>
  <label>note title</label>
  <input class="form-input" type="text" formControlName="title">
  <label>note content</label>
  <textarea class="form-textarea" rows="14" formControlName="content"></textarea>
  <div class="form-btns">
    <button id="cancel-btn" type="button" (click)="onCloseForm()">cancel</button>
    <button id="submit-btn" type="submit">save</button>
  </div>
</form>
